player-connection-mode=Listen
player-connection-guid=2449958461
player-connection-debug=1
player-connection-project-name=12345
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.100
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=1
vr-enabled=0
hdr-display-enabled=0
profiler-enable-deep-profiling-support=1
